.imdb-rating-container {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px 4px;
    border-radius: 4px;
  }
  
  .imdb-rating {
    font-size: 14px;
    font-weight: bold;
    color: #f5c518;
  }